[Desktop Entry]
Categories=
Comment=
Exec=/home/diablo/Documents/GitHub/Ubuntu-Desktop/License
GenericName=
Icon=/home/diablo/Documents/GitHub/Ubuntu-Desktop/setup_nuitka.txt
Name=dvsdff
Path=
StartupNotify=false
Terminal=false
Type=Application
Version=

