[Desktop Entry]
Categories=Qt;Settings;System;Utility 
Comment=Ce format de fichier décrit la configuration pour lancer une application.
Exec=/home/diablo/Public/ubuntu_desktop/ubuntu_desktop.bin
GenericName=Création de fichier de configuration desktop
Icon=/home/diablo/Public/ubuntu_desktop/Ubuntu.png
Name=Ubuntu Desktop File
Path=/home/diablo/Public/ubuntu_desktop
StartupNotify=true
Terminal=false
Type=Application
Version=1.0.3

